// Bootstrap library
@import 'bootstrap/scss/bootstrap';

// My Bootstrap configuration
@import 'custom_bootstrap';

#header {
  width: 100vw;
  margin: 0;
  padding: 0;
  overflow-x: 0;
}

#menu {
  background-color: $gray-900;

  .navbar-nav {
    .nav-link {
      color: $white;
    }

    .nav-link:hover {
      color: $cyan;
    }

    .active {
      color: $cyan;
    }
  }
}

.pokemon {
  margin: 10px 0;

  .loading-pokemons {
    width: 96px;
  }

  .details {
    .lead {
      font-size: $font-details;
    }
  }
}
